section[role="region"] {
  position: absolute;
  width: 100%;
}
.scrollable {
  overflow: auto !important;
}
[data-position="right"].right {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
}
[data-position="current"].current {
}
[data-position="left"].left {
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
}
[data-position="right"].current {
  animation: rightToCurrent 0.4s forwards;
  -webkit-animation: rightToCurrent 0.4s forwards;
  pointer-events: none;
  -webkit-pointer-events: none;
}
[data-position="current"].right {
  animation: currentToRight 0.4s forwards;
  -webkit-animation: currentToRight 0.4s forwards;
  pointer-events: none;
  -webkit-pointer-events: none;
}
[data-position="current"].left {
  animation: currentToLeft 0.4s forwards;
  -webkit-animation: currentToLeft 0.4s forwards;
  pointer-events: none;
  -webkit-pointer-events: none;
}
[data-position="left"].current {
  animation: leftToCurrent 0.4s forwards;
  -webkit-animation: leftToCurrent 0.4s forwards;
  pointer-events: none;
  -webkit-pointer-events: none;
}

menu[type="toolbar"] .octicon {
  font-size: 24px;
  line-height: 0;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
}

aside .octicon {
  font-size: 24px;
  line-height: 2.5em;
}
aside.pack-end .octicon {
  margin-right: -0.5em;
}

